@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kaushan+Script&family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.nav-1{
  background-color: #6d00a1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px; /* Largura do campo de entrada e ícone */
    right: 20px;
}
    
.search-input {
    width: 100%;
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
    
.search-icon {
    position: absolute;
    top: 35%; /* Centralize verticalmente o ícone */
    right: 20px; /* Ajuste a posição do ícone à direita */
    transform: translateY(-50%); /* Ajuste vertical para o centro */
    cursor: pointer;
 }
 .dp-menu ul{
    list-style-type: none;
    padding: 0;

}
.dp-menu{
    font-family: 'Roboto', sans-serif;
    background-color:white;
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 224, 224);
}
.dp-menu ul li{
    margin-top: 20px;
    display: inline;
    position: relative;
   
}
.dp-menu ul li a{
    color: gray;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    
}
.dp-menu ul li a:hover{
    color: white;
    background-color:#6d00a1 ;
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:#6d00a1;
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}

.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}


/*Main*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
  }

section {
    width: 80%;
    margin:0;
    background-color: rgba(148, 131, 134, 0.144);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#tituloform1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    color: #333;
}
.agendamento {
    margin-top: 80px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    flex-direction: column; /* Adicione esta linha para colocar os elementos em coluna */
    border-radius: 10px;
}

#consulta {
    margin: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
   
}
#consulta h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    color: #333;
}


#agend1,
#agend2 {
    margin: 40px;
    height: auto;
    width: 45%;
}



/* Estilo para o formulário */
form {
    max-width: 1200px;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:#6d00a1;
    border-radius: 5px;
}
/* Estilo para os rótulos */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    align-items: center;
    background-color: #6d00a1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
   

}
input[type="submit"]:hover{
    transform: scale(1.1);
}

/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}

/* Estilo para a imagem */
#imgagendamento {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px 0;
}

#titulofooter{
    margin: 20px;
    color-scheme: #666;
}
 
 footer {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 12px;
    margin-bottom: 0;
   
 }
 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:rgb(199, 198, 198);
     padding: 0;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     bottom: 0;
     font: normal;
 }

.contato, .sobre, .servicos, .horario{
    margin-top: 20px solid grey;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: #666;
   

}
.re{
  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: grey;
    background-color:rgb(199, 198, 198);
}
.menu-ativo {
    display: block!important;
    background-color:white;
    color: white;
    padding: 30px;
    top:60px;
    position: absolute;
    right: 0;
    z-index: 99;
    height: auto;
}
#hamburguer{
    position: absolute;
    display: none;
    right: 50px;
    color: white;
}
  
@media (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    .agendamento{
       
        margin-top: 0;
        border-radius: 0;
    }
    #consulta{
        height: 700px;
        width: 200px;
        padding: 0;
        margin: 0;
        height: 1940px;
    
    }
    h1{ 
        margin-top: 50px;
        text-align: center;
    }
    #consulta h2, h3{
        text-align: center;
        margin: 10px 0;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:white;
    }
   
    .dp-menu ul ul{
        display: none!important;
    }
   
    #pesquisar{
        display: none;
     }
     #input-pesquisar{
         display: none;
     }
     #hamburguer{
        display: block;
     }
    
    section{
        display: flex;
        align-items: center;
    }
    form {
        max-width: 120px;
        display: flex;
        color: black;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: rgba(148, 131, 134, 0.144);
        border-radius: 5px;
    }
    div{
        
        align-items: center;
        flex-direction: column;
    }
    .consulta{
        display: block;
        align-items: center;
        flex-direction: column;
        width: 200px;
    }
    #botConsulta{
        align-items: center;
        width: 80px;
        text-align: center;
        font-size: 8px;
        padding: 0;
        height: 30px;
    }
        

    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer{
        flex-direction: column;
        display: block;
        height: min-content;
        
    }
    } 