@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;*/
:root{
    --corPrincipal: purple;
    --corSecundaria:#ebccdf;
    --ligh:#ffffff;
    --footer:#c7c6c6;
    --mid:#64748B;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color:var(mid);
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.nav-1{
  background-color:var(--ligh);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    border: 1pix solid var(--footer);
    width: 200px; /* Largura do campo de entrada e ícone */
    right: 20px;
}
    
.search-input {
    width: 100%;
    height: 25px;
    padding: 5px;
    top: 40%;
    border-radius: 5px;
}
    
.search-icon {
    position: absolute;
    top: 40%; /* Centralize verticalmente o ícone */
    right: 10px; /* Ajuste a posição do ícone à direita */
    transform: translateY(-50%); /* Ajuste vertical para o centro */
    cursor: pointer;
 }
 .dp-menu ul{
    list-style-type: none;
    padding: 0;

}
.dp-menu{
    font-family: 'Poppins', sans-serif;
    background-color:var(--corPrincipal)!important;
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 224, 224);
}
.dp-menu ul li{
    margin-top: 20px;
    display: inline;
    position: relative;
   
}
.dp-menu ul li a{
    color: var(--ligh);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    
}
.dp-menu ul li a:hover{
    color: var(--ligh);
    background-color:var(--footer) ;
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:var(--corPrincipal);
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}

.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}


/*Main*/
main
 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
  }

section {
    width: 90%;
    margin:0;
    background-color: rgba(148, 131, 134, 0.144);
    border-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
#tituloform1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    font-size: 3em;
    color:var(--corSecundaria);
}
#tituloform2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    color:var(--corSecundaria);
}
.agendamento {
    margin-top: 80px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color:var(--ligh);
    flex-direction: column; /* Adicione esta linha para colocar os elementos em coluna */
    border-radius: 10px;
}

#consulta {
    margin: 20px;
    background-color:var(--ligh);
    display: flex;
    justify-content: space-around;
   
}
#consulta h2, h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 20px;
    color: var(--corSecundaria);
}
#botConsulta{
    align-items: center;
    width: 100%;
}
#botConsulta:hover{
    background-color: var(--corPrincipal);
    color: var(--ligh);
    transform: scale(1.1);
}


#agend1,
#agend2 {
    margin: 40px;
    height: auto;
    width: 45%;
}



/* Estilo para o formulário */
form {
    max-width: 1200px;
    display: flex;
    color:var(--corPrincipal);
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--corPrincipal);
    background-color:var(--ligh);
    border-radius: 5px;
}
/* Estilo para os rótulos */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    
}

/* Estilo para o botão de envio */
input[type="submit"] {
    align-items: center;
    background-color: var(--ligh);
    color:var(--corPrincipal);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   

}
input[type="submit"]:hover{
    transform: scale(1,0);
}

/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}

/* Estilo para a imagem */
#imgagendamento {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px 0;
}
/*cadastro whatsapp*/
.cadastro-whatsapp{
    width: 98%;
    height:140px;
    background-color: var(--corPrincipal);
    text-align: left;
    color: var(--ligh);
    margin: 50px 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cadastro-whatsapp input{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 220px;
    
}
.cadastro-whatsapp h4{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color: var(--ligh);
    font-weight: bold;
    font-size: 20px;
}

#cadastrar{
    width: 80px;
    color: var(--corPrincipal);
    border-radius: 5px;
    padding: 5px;
}
.erro{
    border: 2px solid red;
}
#cadastrar:hover{
    background-color:var(--corPrincipal);
    color: var(--ligh);
    transform: scale(1.2);
}

#titulofooter{
    margin: 25px;
    font-weight: 500;
    color-scheme: var(--mid);
}
 
 footer {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 12px;
    margin-bottom: 0;
   
 }
 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:var(--footer);
     padding: 0;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     bottom: 0;
     font: normal;
 }

.contato, .sobre, .servicos, .horario{
    margin-top: 20px solid var(--mid);
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: var(--mid);
   

}
.re{
  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:var(--mid);
    background-color:var(--footer);
}
.menu-ativo {
    display: block!important;
    background-color:var(--ligh);
    color: var(--ligh);
    padding: 30px;
    top:60px;
    position: absolute;
    right: 0;
    z-index: 99;
    height: auto;
}
#hamburguer{
    position: absolute;
    display: none;
    right: 50px;
    color: var(--ligh);
}
  
@media (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
    }
    main{
        display: flex;
        flex-direction: column;
      
    }
   
    #tituloform1{ 
       font-size: 30px;
       margin: 50px 0;
       display: block;
    }
    #consulta h2, h3{
        text-align: center;
        margin: 10px 0;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:white;
    }
   
    .dp-menu ul ul{
        display: none!important;
    }
   
    #pesquisar{
        display: none;
     }
     #input-pesquisar{
         display: none;
     }
     #hamburguer{
        display: block;
     }
    
     section{
        min-height: 0;
        display:flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        
    }
    form {
        width: 95%;
        display: flex;
        color: white;
        flex-direction: column;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        background-color:var(--corPrincipal);
        border-radius: 5px;
    }
    div{
        
        align-items: center;
        flex-direction: column;
    }
   
    .agendamento{
        display: block;
        align-items: center;
        text-align: center;
        margin-top: 0;
        border-radius: 0;
    }
    #agend1{
        margin: 0;
    }
    #agend2{
        width: 100%;
        margin: 40px 0;
    }
    #consulta{
        padding: 0;
        margin: 80px 0;
        height: 1940px;
        text-align: left;
    
    }
    #botConsulta{
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 8px;
        padding: 0;
        height: 30px;
    }
    #botConsulta:hover{
        background-color: var(--corPrincipal);
        color: var(--ligh);
    }
    .cadastro-whatsapp{
        align-items: center;
        width: 300px;
        height: 350px;
        padding: 30px;
   }
        

    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer{
        flex-direction: column;
        display: block;
        height: min-content;
        
    }
    } 