@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kaushan+Script&family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw; /* 100% da largura da janela de visualização */
    height: 100vh; /* 100% da altura da janela de visualização */
    font-family: Arial, Helvetica, sans-serif; /* Define a família de fontes padrão */


}
header {
    display: flex; /* Define um layout flexível para os elementos dentro do cabeçalho */
    justify-content: space-around; /* Espaço igual entre os elementos filhos */
    width: 100vw; /* 100% da largura da janela de visualização */
    font-weight: bold; /* Define a espessura da fonte para o cabeçalho */
    height: 60px; /* Define a altura do cabeçalho */
    background-color:purple; /* Define a cor de fundo do cabeçalho */
    position: fixed;
    z-index: 1;
    margin-bottom: 10px;
}

/* Estilos para telas maiores (acima de 768px) */
.nav1 {
    color:white;
    padding: 20px;
    align-items: center;
    display: flex;
    height: 60px;
}

h1{
    margin: 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: purple
}
h2{ font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: green;
    margin: 20px 0;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: green;
    margin: 20px 0;
   
}


.nav2 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:purple;
    height: 60px;
}


.nav-item {
    position: relative;
    margin-right: 40px;
}

.dropdown {
    background:none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
}

.dropdown:hover {
    color:gray;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    max-width: 300px;
    padding: 20px;
    background-color:purple;
    list-style: none;
    display: none;
}

.nav-item:hover .list {
    display: block;
}

.list li {
    margin-bottom: 10px;
    list-style: none;
}

.list a {
    list-style: none;
    color:white;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
}

.list a:hover {
    color:gray;
}

/*Main*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 80%;
    margin: 0;
    background-color: rgba(148, 131, 134, 0.144);
    border-radius: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Adicione esta linha para colocar os elementos em coluna */
}

.agendamento {
    margin-top: 80px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    flex-direction: column; /* Adicione esta linha para colocar os elementos em coluna */
}

#consulta {
    margin: 40px 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#agend1,
#agend2 {
    margin: 40px;
    height: auto;
    width: 45%;
}

#agend1 {
    padding: 70px;
}


/* Estilo para o formulário */
form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

/* Estilo para os rótulos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada de texto */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    align-items: center;
    background-color:purple;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;

}
input[type="submit"]:hover{
    background-color: green;
}
/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}

/* Estilo para a imagem */
#imgagendamento {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px 0;
}


footer {
    display: flex;
    justify-content: center;
    height: auto;
   
 }
#titulofooter{
    margin: 20px;
}
 
 footer {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 12px;
    margin-bottom: 0;
   
 }
 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:rgb(199, 198, 198);
     padding: 0;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     bottom: 0;
     font: normal;
 }

.contato, .sobre, .servicos, .horario{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: #666;
   

}
.re{
  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: grey;
    background-color:rgb(199, 198, 198);
}

#hamburguer{
    display: none;
}

  
@media screen and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
    }
    main{
        display: block;
        flex-direction: column;
        align-items: center;
    }
 
    #hamburguer {
        display: block;
        background-color: purple;
        color: white;
        width: 100vw;
        text-align: right;
        margin-right: 30px;
        cursor: pointer;
        padding: 10px;
    }
    
    .nav-container {
        position: absolute;
        top: 100%; /* Posiciona o menu abaixo do cabeçalho "nav1" */
        right: 0;
        background-color: #ffffff; /* Define a cor de fundo do menu */
        display: none; /* Inicialmente, o menu está oculto */
        z-index: 1; /* Certifique-se de que o menu esteja na frente de outros elementos */
    }


    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer{
      flex-direction: column;
      display: block;
      height: min-content;
    
    }
} 