  @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Kaushan+Script&family=Marck+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw; /* 100% da largura da janela de visualização */
    height: 100vh; /* 100% da altura da janela de visualização */
    font-family: Arial, Helvetica, sans-serif; /* Define a família de fontes padrão */
}

header {
    display: flex; /* Define um layout flexível para os elementos dentro do cabeçalho */
    justify-content: space-around; /* Espaço igual entre os elementos filhos */
    width: 100vw; /* 100% da largura da janela de visualização */
    font-weight: bold; /* Define a espessura da fonte para o cabeçalho */
    height: 60px; /* Define a altura do cabeçalho */
    background-color:purple; /* Define a cor de fundo do cabeçalho */
    position: fixed;
    z-index: 1;
    margin-bottom: 10px;
}

/* Estilos para telas maiores (acima de 768px) */
.nav1 {
    color:white;
    padding: 20px;
    align-items: center;
    display: flex;
    height: 60px;
}

h1{ font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;

}
h2{ font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;

}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
   
}

.nav2 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:purple;
    height: 60px;
}


.nav-item {
    position: relative;
    margin-right: 40px;
}

.dropdown {
    background:none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0;
}

.dropdown:hover {
    color:gray;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    max-width: 300px;
    padding: 20px;
    background-color:purple;
    list-style: none;
    display: none;
}

.nav-item:hover .list {
    display: block;
}

.list li {
    margin-bottom: 10px;
    list-style: none;
}

.list a {
    list-style: none;
    color:white;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
}

.list a:hover {
    color:gray;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.principal{
    margin-top: 0;
    margin: 0 30px;
    background-color: rgba(148, 131, 134, 0.144);
    margin-bottom: 0;
    border-radius: 0;
}
#img1{
    width: 100%;
    margin-bottom: 20px;
}
section {

    min-height: 80vh;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: 100px 30px; /* Isso define as margens superior e inferior como 200px e as margens esquerda e direita como 30px */
    border: 10px solid transparent; /* Adiciona uma borda transparente de 40px */
}

section + section {
    margin-top: 50px;
}
#proh2{
    color: purple;
    margin: 20px;
    font-size: 50px;
}


#center-content {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white; /* Ou outra cor legível */
    position: relative;
    margin-bottom: 150px;
}
#imglogo2 {
    display: block;
    margin: 40px auto;
    width: 250px;
}

#texts1{
    text-align: left;
    color: white;
    background-color: green;
}
ul >li{
    list-style: none;
}
#texts2{
    display: flex;
    justify-content: space-between; /* Alinha as divs lado a lado */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 700px;
    background-color: purple;
    color:white;
}
#text1, #text2{
    flex-basis:(45%, 10px) ;
    flex: 1; /* Distribui o espaço igualmente entre as duas divs */
    padding: 20px; /* Espaçamento interno opcional */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}
#cadSection > h1{
   margin-top: 30px;
   color: green;
}
.erro{
    border: 2px solid red;
}
.secao {
    display: flex;
    justify-content:space-around; /* Alinha as divs lado a lado */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 600px;
 
}

.imagem {
   width: 300px;
    height: 450px;
    margin-bottom: 20px;
}
#imgcadastro{
    height: 450px;
    width: 300px;
}
#cadh2{
    margin-top: 10px;
    text-align: center;
}
#form1 {
    text-align: left;
    margin: 5px;
    padding: 0;
}

.cadastro {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-bottom: 20px; /* Adicione um valor de margem inferior */
    border: 5px solid green;
    
}
#icad{
   text-align: left;
}

#inome,
#iemail,
#isenha,
#iconfirmarsenha {
    text-align: left;
    width: 280px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
}

#icadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 10px;
    width: 280px;
    height: 30px;

}

#cardpri{
    display: flex;
    justify-content: space-between;
}
#card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 30px;
    overflow: hidden;
    padding: 0;
    border: 0;
    height: 200px;
}

#card > img {
    max-width: 100%;
    height: auto;
}

/* Estilização dos textos nos cards */
#card > p {
    margin: 5px 0;
}

.small {
    text-align: center;
    color: #e9e7e9;
}

.bot1 {
    color: white;
    background-color: green;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    height: 40px;
    display: block;
    text-decoration: none;
}
#bot1a{
    text-decoration: none;
    color: white;
}

#img4{
    margin: 40px;
}
.feedback {
    border: none;
    background-color: transparent;
}

.feedback h4 {
    font-family: 'Pacífico', cursiva;
    font-weight: 600;
    color: purple;
    transition: color 0.3s ease;
}
#feedp{
    font-family: 'Pacífico', cursiva;
    font-weight: 400;
}
#labelfeed{
    font-family: 'Pacífico', cursiva;
}

.feedback h4:hover {
    color: green;
}
#feedbackContainer{
    color: purple;
    font-size: 14px;
    font-family: 'Pacífico', cursiva;
    font-weight: 600;
 }
#ianame,
#iaemail,
#iamessage {
    border-radius: 5px;
    border: 1px solid grey;
    background-color: transparent;
}

#btnfb {
    font-family: 'Pacífico', cursiva;
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
    color:white; /* Cor do texto no estado padrão */
    cursor: pointer;
    width: 200px;
    height: 30px;
    font-weight: 600;
    font-size: 12px;
}

#btnfb:hover {
    color: white; /* Nova cor do texto no estado hover */
    background-color: purple;
}
footer {
    display: flex;
    justify-content: center;
    height: auto;
   
 }
 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:rgb(199, 198, 198);
     padding: 0;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     font-size: 14px;
     bottom: 0;
 }
 
.contato, .sobre, .servicos{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: #666;
   
}
.servicos > ul{
    margin-top: 5px;
}
.servicos > ul > li{
    list-style: none;
    font-size: 14px;
}
.contato, .sobre > p {
    font-size: 14px;
   
    margin: 5px 0;
}
.servicos > ul > li >a {
    color: #333;
    text-decoration: none;
}
.horario{
    margin-top: 70px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: #666;
}
.re{
  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: grey;
    background-color:rgb(199, 198, 198);
}

#hamburguer{
    display: none;
}
/* Estilos do formulário */
#consultaForm {
    margin: 50px;
    background-color:purple; /* Cor de fundo do formulário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para os rótulos dos campos de entrada */
  #consultaForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:white; /* Cor do texto do rótulo */
  }
  
  /* Estilos para os campos de entrada */
  #consultaForm input[type="text"],
  #consultaForm input[type="tel"],
  #consultaForm input[type="email"],
  #consultaForm input[type="password"],
  #consultaForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px;
  }
  
  /* Estilo para o botão de envio */
  #h1agen{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    margin: 40px;
  }
  #imgagendamento{
    display: block;
    margin: 40px auto;
    width: 250px;
  }
  #consultaForm button[type="submit"] {
    background-color:white; /* Cor de fundo do botão */
    color:purple; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #consultaForm button[type="submit"]:hover {
    background-color:green /* Cor de fundo do botão quando hover */
  }
  
  /* Alinhar o formulário centralmente */
  #consultaForm {
    margin: 0 auto;
    max-width: 400px; /* Largura máxima do formulário */
  }
  
  /* Estilos para a mensagem de sucesso (pode ser exibida após o envio do formulário) */
  .success-message {
    color: green;
    font-weight: bold;
  }
  
  /* Estilos para as opções de tratamento */
  .opcoes-tratamento {
    margin-top: 20px;
  }
  
  /* Estilos para o título das opções de tratamento */
  .opcoes-tratamento h2 {
    color: #333; /* Cor do título */
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Estilos para a lista de opções de tratamento */
  .opcoes-tratamento ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para cada item da lista de opções de tratamento */
  .opcoes-tratamento li {
    margin-bottom: 5px;
    color: #555; /* Cor do texto das opções de tratamento */
  }
  
@media screen and (max-width: 768px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
    }
    main{
        display: block;
        flex-direction: column;
        align-items: center;
    }
 
    #hamburguer {
        display: block;
        background-color: purple;
        color: white;
        width: 100vw;
        text-align: right;
        margin-right: 30px;
        cursor: pointer;
        padding: 10px;
    }

   
    .nav-container {
        position: absolute;
        top: 100%; /* Posiciona o menu abaixo do cabeçalho "nav1" */
        right: 0;
        background-color: #ffffff; /* Define a cor de fundo do menu */
        display: none; /* Inicialmente, o menu está oculto */
        z-index: 1; /* Certifique-se de que o menu esteja na frente de outros elementos */
    }
    .principal{
        top: 10px;
        padding: 30px;
    }
    section{
        min-height: 0;
        display: block;
        flex-direction: column;
    }
    #imglogo2 {
        display: block;
        margin: 40px auto;
        width: 100px;
    }
    #texts2{
        text-align: center;
        align-items: center;
        height: min-content;
    }
    #proh2{
        color: purple;
        margin: 20px;
        font-size: 20px;
    }
    .secao {
            flex-direction: column; /* Empilhar as divs verticalmente */
            height: auto; /* Permitir que a altura se ajuste ao conteúdo */
            align-items: center; /* Centralizar horizontalmente */
            border: 0;
        }
    #form1{
        padding: 30px;
        width: 100%;
    }
       
    .imagem{
        display: none;
    }
    .cadastro {
        flex-basis: auto; /* Permitir que as divs ocupem a largura completa */
        width: 100%; /* 100% de largura */
        margin-bottom: 20px; /* Espaçamento entre as divs */
        border: 0;
        }
    #icad{
        text-align: left;
    }
    #inome,
    #iemail,
    #isenha,
    #iconfirmarsenha {
        text-align: left;
        width:100%;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 40px;
    }     
        
         
    #icadastrar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        border-radius: 10px;
        width:auto;
        height: 30px;
         
    }
    #cardpri{
        display: flex;
        justify-content: space-between;
    }
    #card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    
    #card > img {
        display: none;
        
    }
    #card > p {
        margin: 5px 0;
    }

    .small {
        text-align: center;
        color: #e9e7e9;
    }

    .bot1 {
        color: white;
        background-color: green;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 20px;
        margin: 10px;
        height: 40px;
        display: block;
        text-decoration: none;
        flex-basis: auto; /* Permite que o botão ocupe a largura necessária */
    }
    #bot1a{
        text-decoration: none;
        color: white;
    }

    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer{
      flex-direction: column;
      display: block;
      height: min-content;
    
    }
}

