@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
*/
:root{
    --corPrincipal: #6d00a1;
    --corSecundaria:#ebccdf;
    --ligh:#ffffff;
    --footer:#c7c6c6;
    --mid:#64748B;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.nav-1{
  background-color: var(--corPrincipal);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.search-container {
    position: relative;
    right: 20px;
   
}

.search-input {
    width: 100%;
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    top: 50%; /* Centralize verticalmente o ícone */
    right: 10px; /* Ajuste a posição do ícone à direita */
    transform: translateY(-50%); /* Ajuste vertical para o centro */
    cursor: pointer;
}

.dp-menu ul{
    list-style-type: none;
    padding: 0;

}
.dp-menu{
    font-family: 'Poppins', sans-serif;
    background-color:var(--ligh);
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--footer);
}
.dp-menu ul li{
    margin-top: 20px;
    display: inline;
    position: relative;
   
}
.dp-menu ul li a{
    color: var(--mid);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    
}
.dp-menu ul li a:hover{
    color: var(--ligh);
    background-color:var(--corPrincipal) ;
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:var(--corPrincipal);
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}

.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
}
#login > a, span > a{
    text-decoration: none;
    color: var(--corPrincipal);

}
#login{
    border-color: var(--corPrincipal);
    border-radius: 5px;
    padding: 2px 10px;
    background-color: var(--ligh);
}
#login:hover{
    transform: scale(1,1);
}
/* Main*/
main {
    max-width: 90%px;
    margin: 0 auto;
    padding: 0;
}
.principal{
    margin-top: 0;
    margin: 0 30px;
    background-color: rgba(148, 131, 134, 0.144);
    margin-bottom: 0;
    border-radius: 0;
}
#img1{
    width: 100%;
    margin-bottom: 20px;
}
section {
    height: 100%;
    min-height: 80vh;
    text-align: center;
    border-radius: 5px;
    background-color: var(--ligh);
    margin: 100px 30px; /* Isso define as margens superior e inferior como 200px e as margens esquerda e direita como 30px */
    border: 10px solid transparent; /* Adiciona uma borda transparente de 40px */
}

.carousel-control-next, .carousel-control-prev {
    z-index: 0;
}


#center-content {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--ligh); /* Ou outra cor legível */
    position: relative;
    margin-bottom: 150px;
}
#imglg2 {
    display: block;
    margin: 40px auto;
    width: 250px;
}
/*texto*/
#texts2{
    background-color: var(--corPrincipal);
}
#container {
    display: flex;
    flex-direction: column; 
}

#imglogo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa toda a largura da tela */
    background-color:var(--corPrincipal); /* Cor de fundo da logo (substitua pela sua imagem) */
    height: 200px; /* Altura da logo (ajuste conforme necessário) */
}

#texts-container {
    display: flex;
    justify-content: space-between; /* Alinha as divs lado a lado */
    background-color: var(--corPrincipal);
    color: var(--ligh);
}

#text1,
#text2 {
    flex: 1; /* Distribui o espaço igualmente entre as duas divs */
    padding: 20px; /* Espaçamento interno opcional */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

/* Estilos para o texto dentro das divs */
#text1 h2,
#text2 h2 {
   font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0; /* Remova a margem padrão */
}


#titulo-carrocel{
    color: var(--corSecundaria);
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    text-align: center;
}
/*Promocão*/
.fidelidade{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#fidelidade-titulo{
    font-size: 4em;
    margin: 40px;
}
.card-promocao{
    background-color: var(--ligh);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    width: 300px;
    margin: 20px 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.card-promocao:hover{
    transform: scale(1.1);
}
#img-promocao{
    width: 200px;
    height: 200px;
}
/* Cadastro*/
#cadSection  h2{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color:var(--ligh);
 }
 .erro{
     border: 2px solid red;
 }
 #logo-cad{
    margin: 30px;
    width: 200px;
 }
 .secao {
     display: flex;
     justify-content:space-around;
     align-items: center; /* Alinha as divs lado a lado */
     height: 600px;
     margin-top: 40px;
  
 }
.text3{
    width: 300px;
    text-align: left;
    margin: 50px;
    color: var(--mid);
    top: 0;
}
#sessao-titulo{
    font-family: 'Poppins', sans-serif;
   
}
 #cadh2{
     margin-top: 10px;
     text-align: center;
     color: var(--ligh);
 }
#form1 {
     text-align: left;
     margin: 5px;
     padding: 0;
     color: var(--ligh);
 }
 
.cadastro {
     width: 300px;
     padding: 5px;
     background-color:var(--corSecundaria);
     display: flex;
     flex-direction: column;
     height: 530px;
     margin-bottom: 20px; /* Adicione um valor de margem inferior */
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
     cursor: pointer;
     
 }

#icad{
    text-align: left;
 }
 
 #inome,
 #iemail,
 #isenha,
 #iconfirmarsenha {
     text-align: left;
     width: 280px;
     margin-bottom: 10px;
     border-radius: 5px;
     height: 40px;

 }
 
#icadastrar {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--ligh);
     color: var(--corPrincipal);
     border-radius: 5px;
     width: 280px;
     height: 30px;
     border: none;
 }
 #icadastrar:hover{
    background-color: var(--corPrincipal);
    color: var(--ligh);
   
 }
 #cadh2{
    color:var(--ligh)
 }
 
 /* Pesquisa Cards*/
 #cardpri{
    min-height: fit-content!important;
    height: 80vh!important;
    max-height: 450px;
    display: flex;
    justify-content: space-between;
}
.card {
    min-height: auto;
     font-weight: 700;
     background-color: var(--ligh);
     border-radius: 5px;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
     text-align: center;
     margin: 30px;
     overflow: hidden;
     padding: 0;
     border: 0;
     height: 350px;
     width: 250px;
     & > img {
        height: 200px;
        width: 250px;
    }
 }

 
 #card > p {
     margin: 5px 0;
 }
 .bot1 {

     color: var(--ligh);
     background-color: var(--ligh);
     border: 1px solid var(--mid);
     border-radius: 5px;
     padding: 10px 20px;
     margin: 10px;
     height: 40px;
     display: block;
     text-decoration: none;
     cursor: pointer;
 }
 .bot1:hover{
    transform: scale(1.2);
 }
 #bot1a{
     text-decoration: none;
     color: var(--corPrincipal);
 }
 .erro{
    border: 2px solid red;
}
 #img4{
     margin: 40px;
 }

/*Comentario google*/
#stn-depoimentos{
    height: 800px;
}
#google-logo{
    width: 80px;
    margin-top:30px ;
}
#google-div{
    margin-bottom: 30px;
    border-radius: 5px;
}
#g{
    width: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#g-comentario{
    color: green;
    font-size: 12px;
}
#postado{
    color: grey;
    font-size: 8px;
}

.comment-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os comentários */
}

.comment {
    flex: 1;
    border: 1px solid var(--footer);
    border-radius: 5px;
    padding: 10px;
    max-width: 180px; /* Largura máxima do comentário */
    background-color:  rgba(148, 131, 134, 0.144);
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: var(--footer);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-content {
    flex: 1;
}

.comment-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comment-author {
    font-weight: bold;
    font-size: 16px;
}

.comment-rating {
    color: #f4d03f; /* Cor das estrelas */
    font-size: 18px;
}

.comment-text {
    font-size: 14px;
    color: var(--mid);
    margin: 10px 0;
    min-height: 350px;
    height: fit-content;
}



 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:var(--footer);
     padding: 50px;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     bottom: 0;
     font: normal;
 }

.contato, .sobre, .servicos, .horario{
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: var(--mid);
    font-size: 12px;
   

}
.titulofooter{
    font-weight: 700;
    margin: 20px;
}
p{
    margin-bottom: 0;
}
.re{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--mid);
    background-color:var(--footer);
}
/* Estilos para o menu quando a classe .menu-ativo é aplicada */
.menu-ativo {
    display: block!important;
    background-color:var(--ligh);
    color: var(--mid);
    padding: 30px;
    top:100%;
    position: absolute;
    right: 0;
    z-index: 99;
}
.menu-ativo ul:hover{
    color: var(--footer)
}
.menu-ativo ul ul{
    display: none !important;
}

#hamburguer{
    position: absolute;
    display: none;
    color: var(--ligh);
    right: 50px;
}
@media (max-width: 900px){
    .fidelidade{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-promocao{
        width: 170px;
        margin: 10px;
   
    }
    #img-promocao{
        width: 130px;
        height: 130px;
    }
       
    .card-promocao > h2{
        font-size: 20px;
    }
    #fideliade-titulo{
        font-size: 2em;
    }
    #cardpri{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            height: 300px;
            width: 200px;
            justify-content: center;
            align-items: center;
            margin: 2px;
            & > img {
                height: 100px;
                width: 180px;
            }
    }

    .card > p {
        margin: 5px;
    }

    .bot1 {
        color: white;
        background-color: #9032bb;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px ;
        margin: 5px;
        height:30px;
        display: block;
        text-decoration: none;
        flex-basis: auto; /* Permite que o botão ocupe a largura necessária */
    }
}

  
@media (max-width: 800px) {
    body{
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .nav-1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #pesquisar{
       display: none;
    }
    #input-pesquisar{
        display: none;
    }
 
    #hamburguer {
        display: block;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:white;
    }
   
    .dp-menu ul ul{
        display: none;
    }
   
    main{
        display: block;
        flex-direction: column;
        align-items: center;
    }
    html {
        scroll-behavior: smooth;
    }
    
   
    .principal{
       top: 100%;
       height: 100%;
       margin: 0;                                                                                ;
    }
    section{
        min-height: 0;
        display: block;
        flex-direction: column;
        margin: 0;
    }
    #img1{
        margin-top: 50px;
    }
    #imglg2 {
        display: block;
        margin: 40px auto;
        width: 100px;
    }
    #texts2{
        text-align: center;
        align-items: center;
        display: block;
        flex-direction: column;
       
    }
    #titulo-carrocel{
       font-size: 30px;
       font-weight: bold;
        color: var(--corSecundaria);
    }
    #texts-container{
        display: block;
        flex-direction: column;
    }
    section + section{
       margin:10px;
    }
    .secao {
            display: flex;
            flex-direction: column; /* Empilhar as divs verticalmente */
            height: auto; /* Permitir que a altura se ajuste ao conteúdo */
            align-items: center; /* Centralizar horizontalmente */
            border: 0;
            margin-top: 20px;
            margin-bottom: 0;
            height: 100%;
    }
    .text3{
        display: none;
    }
    #form1{
        padding: 30px;
        width: 100%;
    }
    #cadsection{
        display: block;
        flex-direction: column;
    } 
    
    .fidelidade{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-promocao{
        width: 100px;
        height: 300px;
        margin: 5px;
        font-size: 8px;
        & > img {
            height: 70px;
            width: 70px;
            margin-bottom: 5px;
        }
       
    }
    .card-promocao h2{
        font-size: 10px;
    }
    #fidelidade-titulo{
        font-size: 30px;
        font-weight: bold;
    }
    #img-promocao{
        width: 100%;
    }
    
    .cadastro {
        flex-basis: auto; /* Permitir que as divs ocupem a largura completa */
        width:fit-content ;
        max-width: 300px;
        margin-bottom: 10px; /* Espaçamento entre as divs */
        border: 0;
        height: 500px;
        }
    #icad{
        text-align: left;
    }
    #inome,
    #iemail,
    #isenha,
    #iconfirmarsenha {
        text-align: left;
        width:100%;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 30px;
    }     
        
         
    #icadastrar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:white;
        border-radius: 10px;
        width:100%;
        height: 25px;
         
    }
    #cardpri{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            width: 150px;
            justify-content: center;
            align-items: center;
            height: 250x;
            margin: 2px;
            & > img {
                height: 100px;
                width: 100%;
            }
    }

    .card > p {
        margin: 5px 30px;
    }

    .bot1 {
        color: white;
        background-color: #9032bb;
        font-weight:400;
        font-size: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px ;
        margin: 5px;
        width: 100px;
        display: block;
        text-decoration: none;
        flex-basis: auto; /* Permite que o botão ocupe a largura necessária */
    }
    #stn-depoimentos{
        display: block;
        flex-direction: column;
        height: 100%;
    }
    #bot1a{
        text-decoration: none;
        color: white;
    }

    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    #feed{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .feedback{
        align-items: center;
        margin-top: 20px;
    }
    .footer{
      flex-direction: column;
      display: block;
      height: min-content;
      width: auto;
    
    }
    .re{
        width: auto;
    }
}

