@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
*/
:root{
    --corPrincipal:#5e057e;
    --corSecundaria:#c299d0;
    --light:#ffffff;
    --verde:#99e099;
    --footer:#c7c6c6;
    --mid:#64748B;
    --darck:#000000;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: var(--corPrincipal);
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
nav{
    width:80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 200px;
}
.dp-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dp-menu{
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dp-menu ul li{
    margin-top: 5px;
    font-size: 15px;
    display: inline;
    position: relative;
    padding: 5px;
    color: var(--light);
   
}
.dp-menu ul li a{
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
}
.dp-menu ul li a:hover{
    color: var(--light);
    background-color:var(--footer);
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:var(--corPrincipal);
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
    margin: 0 10px;
    padding: 5px;
}

.dp-menu ul ul{
    width: 150px;
    
}

.dp-menu ul ul{
    width: 150px;
    
}
#login{
    border-radius: 5px;
    padding: 8px 12px;
    background-color: var(--corPrincipal);
    color: var(--light);
    cursor:pointer;
    margin: 20px;
    border: none;
  

}
#login a{
    text-decoration: none;
    padding: 20px;
    color: var(--light);
}
#login:hover{
    background-color: var(--light);
    transition: transform 0.5s ease; 
}
#login > a:hover{
    color: var(--corPrincipal);
}
/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}
#sair{
    color: var(--light);
    text-decoration:none; 
    display: none; 
    padding: 15px;
}
/* Main*/
main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.principal{
    margin-top: 0;
    margin: 0 30px;
    background-color: rgba(148, 131, 134, 0.144);
    margin-bottom: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    align-items: center!important;
    flex-direction: column;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--light);
    margin: 50px 30px; 
    border: 10px solid transparent;
}
#h1-principal{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 4em;
    color:var(--corSecundaria);
    margin: 50px;
    text-align: center;
}
h2{
    color: var(--corPrincipal);
    font-weight: 500;
    margin: 1em;
    text-align: center;
}
#text-entrada{
    text-align: justify;
    text-indent: 1em;
    margin: 50px;
    border-bottom: 2px solid var(--corPrincipal);
}
#text-entrada p{
    color: var(--mid);
    margin-bottom: 50px;
}
#img-principal{
    width: 50%;
    height: 500px;
}

/*Card flip*/
#tratamento{
    font-size: 3em;
    color: var(--corSecundaria);
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card {
    width: 350px;
    height: 290px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card:hover .card-front {
    transform: rotateY(180deg); /* Rotaciona a frente do cartão quando o mouse passa sobre ele */
}

.card:hover .card-back {
    transform: rotateY(0deg); /* Rotaciona as costas do cartão quando o mouse passa sobre ele */
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--corPrincipal);
    transition: transform 0.5s ease; 
    & > p{
        font-size: 12px;
        padding: 15px;
    }
}

.card-back {
    transform: rotateY(180deg); /* Mantém as costas do cartão viradas para trás */
}


.card h3{
    font-size: 20px;
}
#img-card {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
}

.cadastro-whatsapp{
    height:220px;
    background-color: var(--corPrincipal);
    text-align: left;
    margin: 50px 0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.cadastro-whatsapp h4{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    color: var(--light);
    font-weight: bold;
    font-size: 20px;
}

input{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 220px;
    
}
#cadastrar{
    width: 100px;
    color: var(--corPrincipal);
    border-radius: 5px;
    padding: 5px;
}
.erro{
    border: 2px solid red;
}
#cadastrar:hover{
    background-color: var(--corPrincipal);
    color: var(--light);
    transform: scale(1.2);
}

footer {
    width: 100%!important;
    background-color: var(--footer)!important;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 0;
   
 }
 .icone-footer{
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
 }
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--footer);
    padding: 50px;
    margin-bottom: 0;
    margin-top:0;
    flex-wrap: wrap;
    bottom: 0;
    font: normal;
}

.contato, .sobre, .servicos, .horario{
   margin: 0;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
   box-sizing: border-box;
   color: var(--mid);
   font-size: 12px;
  

}
#span-text{
    color: var(--corSecundaria);
}
.titulofooter{
   margin: 20px;
   font-weight: 700;
}
p{
   margin-bottom: 0;
}
.re{
   width: 100%!important;
   margin-top: 40px;
   margin-bottom: 10px;
   display: flex;
   justify-content:center;
   flex-direction: column;
   text-align: center;
   align-items: center;
   color: var(--mid);
   background-color:var(--footer);
}
    
#hamburguer{
    position: absolute;
    display: none;
    color:var(--light);
    right: 50px;
    cursor: pointer;
}
 
@media (max-width: 1000px) {
    .menu-ativo {
        display: block!important;
        background-color:var(--corPrincipal);
        color: var(--light);
        padding: 30px 0;
        top:100%;
        position: absolute;
        z-index: 99;
        width: 100%;
        box-sizing: border-box;
    }
    .menu-ativo ul:hover{
        color: var(--footer)
    }
    .menu-ativo ul ul{
        display: flex;
        width: 100%;
    }
   
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        justify-content: space-between;
       
    }
    #logo{
        margin: 0 10px;
        width: 150px;
    }
    #hamburguer {
        display: block;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:var(--corPrincipal)
    }
   
    .dp-menu ul ul{
        display: none;
        z-index: 2;
    }
    .dp-menu ul ul li a{
        z-index: 2;
        margin: 5px 0;
    }
    #login {
        padding: 0;
        font-size: 16px;
        background-color: var(--light)!important;
        & > a{
            color: var(--corPrincipal);
        }
    }
    .menu-ativo #login {
        background-color: var(--light)!important; /* Restaure o fundo do botão de login no menu ativo */
        position: absolute;
        z-index: 1; /* Certifique-se de que o botão de login fique acima do menu ativo */
        top: -30%;
        right: 0; /* Ajuste este valor conforme necessário para controlar a distância entre o menu e o botão de login */
      }
    .menu-ativo #sair {
        position: absolute;
        z-index: 1;
        top: -30%;
        right: 10%; 
      }
    .principal{
        top: 100%;
        height: 100%;
        width:100%;
        justify-self: center;
        align-items: center;
        
     }
     #h1-principal{
         font-size: 40px;
         margin-bottom: 30px;
        
     }
     section{
         min-height: 0;
         display:flex;
         align-items: center;
         flex-direction: column;
         margin: 0;
         width: 100%;
         
     }
     #img-entrada{
        width: 100%;
        margin-bottom: 30px;
    }
    #tratamento{
        font-size: 30px;
    }
    .containe-text1{
         display: block;
         flex-direction: column;
    }
    .container{
         display: block;
         flex-direction: column;
    }
    
    .card{
        width: 200px;
        margin: 20px;
    }
    .card-back p{
        font-size: 10px;
    }
    .card-container{
        margin: 0 30px;
        width: 100%;
    }
    #img-card{
      width: 100%;
      height: 80%;
    }
    .card-front, .card-bac{
        width:100%;
        height: 100%;
    }
    input{
        width: 90%;
    }
    .cadastro-whatsapp{
       justify-content: center;
       align-items: center;
       height: 80%;
       padding: 20px;
       margin: 20px;
    }
    #cadastrar{
       padding: 5px;
       margin: 4px;
       font-size: 12px;
  }
}


@media (max-width: 710px) {
    
    #text-entrada{
        display: block;
        justify-content: center;
        text-align: left;
        border-bottom: 2px solid #6d00a1;
        margin: 20px 0;
    }
    #text-entrada h2{
        text-align: center;
        margin: 20px;
        color: #6d00a1;
        font-size: 20px;
    }
    #text-entrada p{
        margin: 30px;
        color: #666;
        font-size: 14px;
        word-wrap: break-word;
    }
 
    h1{
         font-size: 40px;
         margin-bottom: 30px;
    } 
    .footer{
         flex-direction: column;
         display: block;
         height: min-content;
         width: auto;
 
    }
     .re{
         width: 100%;
    }
}
