@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
*/
:root{
    --corPrincipal:#5e057e;
    --corSecundaria:#c299d0;
    --light:#ffffff;
    --verde:#99e099;
    --footer:#c7c6c6;
    --mid:#64748B;
    --darck:#000000;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: var(--corPrincipal);
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
nav{
    width:80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 200px;
}
.dp-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dp-menu{
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dp-menu ul li{
    margin-top: 5px;
    font-size: 15px;
    display: inline;
    position: relative;
    padding: 5px;
    color: var(--light);
   
}
.dp-menu ul li a{
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
}
.dp-menu ul li a:hover{
    color: var(--light);
    background-color:var(--footer);
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:var(--corPrincipal);
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
    margin: 0 10px;
    padding: 5px;
}

.dp-menu ul ul{
    width: 150px;
    
}

.dp-menu ul ul{
    width: 150px;
    
}
#login{
    border-radius: 5px;
    padding: 8px 12px;
    background-color: var(--corPrincipal);
    color: var(--light);
    cursor:pointer;
    margin: 20px;
    border: none;
  

}
#login a{
    text-decoration: none;
    padding: 20px;
    color: var(--light);
}
#login:hover{
    background-color: var(--light);
    transition: transform 0.5s ease; 
}
#login > a:hover{
    color: var(--corPrincipal);
}
/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}
#sair{
    color: var(--light);
    text-decoration:none; 
    display: none; 
    padding: 15px;
}
.car{
    width: 80%;
    display: flex;
    flex: 1;
}
/* Main*/
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
section {
    min-height: 80vh;
    border-radius: 5px;
    background-color: var(--ligh);
    margin: 100px 30px; /* Isso define as margens superior e inferior como 100px e as margens esquerda e direita como 30px */
    border: 10px solid transparent; /* Adiciona uma borda transparente de 40px */
}

.principal{
    margin-top: 0;
    margin: 0 30px;
    background-color:var(--ligh);
    margin-bottom: 0;
    border-radius: 0;
}
#h1-principal{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 500;
    margin: 40px 0;
    text-align: center;
    padding: 30px;
    color: var(--corPrincipal);
   
}

.principal p{
    color: var(--mid);
}
#h2-principal{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 30px 0;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    color: var(--corPrincipal);
}

.container-instalacoes {
    width: 100%;
    margin: 50px 0 ;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--corPrincipal);
    
}
#h3-text-ambiente{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 500;
    margin: 40px 0; 
    text-align: center;
    padding: 0;
    color: var(--corSecundaria);
}
#text-local{
    width: 50%;
    margin-bottom: 70px;
}
#img-local{
    max-width: 100%;
    width: 300px;
    margin-bottom: 40px;

}
#text-local p{
  color: var(--mid);
}

.local{
    flex: 1;
    margin: 5px; /* Adiciona margem entre as imagens */
    width: 50%;
    height: 150px;
    margin: 5px;
    border: 2px solid var(--corSecundaria);
   
}

#esteticistas{
    height: 400px;
   border: 2px solid var(--corSecundaria);
}
.container-equipe{
    width: 100%;
    display: flex;
    justify-content:space-around;

}
#colabroradores{
    margin: 0 15%;
    width: 70%;
}
#text-equipe p{
    width: 50%;
    margin: 20px;
    color:var(--mid);
}

#h3-text-equipe{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 2em;
    margin: 40px 0;
    text-align: center;
    padding: 5px;
    color: var(--corSecundaria);
    
}
#texto-equipe{
    width: 80%;
    text-align: left;
    padding: 20px;
    margin: 0 20px;
}
#colabroradores h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    padding: 20px;
    
}

#text-span{
    color: var(--corSecundaria);
}
footer {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 12px;
    margin-bottom: 0;
   
 }
 .titulofooter{
    font-weight: 700;
    margin: 20px;
}
.footer  p{
    margin: 0;
    margin-bottom: 0;
 }
 .footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color:var(--footer);
     padding: 0;
     margin-bottom: 0;
     margin-top:0;
     height: 400px;
     flex-wrap: wrap;
     bottom: 0;
     font: normal;
 }

.contato, .sobre, .servicos, .horario{
    margin-top: 20px solid var(--mid);
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
    box-sizing: border-box;
    color: var(--mid);
   

}
.icone-footer{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.re{
  
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--mid);
    background-color:var(--footer);
}
#hamburguer{
    position: absolute;
    display: none;
    color: var(--light);
    right: 50px;
    cursor: pointer;
}
@media (max-width: 900px) {
    .menu-ativo {
        display: block!important;
        background-color:var(--corPrincipal);
        color: var(--light);
        padding: 30px 0;
        top:100%;
        position: absolute;
        z-index: 99;
        width: 100%;
        box-sizing: border-box;
    }
    .menu-ativo ul:hover{
        color: var(--footer)
    }
    .menu-ativo ul ul{
        display: flex;
        width: 100%;
    }
   
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        justify-content: space-between;
       
    }
    #logo{
        margin: 0 10px;
        width: 150px;
    }
    #hamburguer {
        display: block;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:var(--corPrincipal)
    }
   
    .dp-menu ul ul{
        display: none;
        z-index: 2;
    }
    .dp-menu ul ul li a{
        z-index: 2;
        margin: 5px 0;
    }
    #login {
        padding: 0;
        font-size: 16px;
        background-color: var(--light)!important;
        & > a{
            color: var(--corPrincipal);
        }
    }
    .menu-ativo #login {
        background-color: var(--light)!important; /* Restaure o fundo do botão de login no menu ativo */
        position: absolute;
        z-index: 1; /* Certifique-se de que o botão de login fique acima do menu ativo */
        top: -30%;
        right: 0; /* Ajuste este valor conforme necessário para controlar a distância entre o menu e o botão de login */
      }
    .menu-ativo #sair {
        position: absolute;
        z-index: 1;
        top: -30%;
        right: 10%; 
      }
    #hamburguer{
        display: block!important;
    }
   
     .container-instalacoes{
        display: flex;
        justify-content: center ;
        flex-direction: column;
        align-items: center;
    }
    #text-local{
        width: 100%;
        margin-bottom: 30px;
    }
    #img-local{
        max-width: 100%;
        width: 80%;
    
    }
    .container-equipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #h2-text-equipe{
        padding: 0;
        margin: 0;
    }
    #texto-equipe{
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    #sessao-titulo{
        text-align: center;
    }
    .icone-footer{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    
    footer{
        display: block;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 50px;
        width: 100%;
        background-color: var(--footer);

    }
    .footer{
        flex-direction: column;
        display: block;
        height: min-content;
        
    }
        
 }      
@media (max-width: 730px) {
    .principal{
        display: block;
        flex-direction: column;
        margin: 0;
    }

    section{
        display: block;
        align-items: center;
        margin: 0;
    }
     #text-local h2{
        font-size: 20px;
        margin:20px 0;
        padding: 0;
    }
    .text-1{
        text-align: left;
        width: 100%;
    }
    #h2-text-ambient{
        text-align: center;
    }
    .local{
        display:inline;

    }

    #h2-text-equipe{
        padding: 0;
        margin: 0;
    }
    #texto-equipe{
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
   
    #sessao-titulo{
        text-align: center;
    }
    .icone-footer{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    .footer{
        flex-direction: column;
        display: block;
        height: min-content;
        
    }
}
    @media (max-width: 630px) {
        .principal{
            display: block;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        #logo{
            margin: 0 10px;
            width: 150px;
        }
        #h1-principal{
            font-size: 30px;
            margin-top: 40px;
        }
        #h2-principal{
            font-size: 20px;
        }
        #h3-text-ambiente{
            text-align: center;
            font-size: 20px;
            margin:20px 0;
            padding: 0;
        }
        .text-1{
            text-align: left;
            width: 100%;
            font-size: 12px;
        }
        
        .container-equipe{
            display: block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            
        }
        #text-local{
            font-size: 12px;
        }
        .text-p{
            width: 90%;
          
        }
        #h3-text-equipe{
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
        #texto-equipe{
            text-align: center;
            padding: 10px;
            font-size: 12px;
        }
        #esteticistas{
            display:block
        }

        #sessao-titulo{
            text-align: center;
        }
        .icone-footer{
            width: 20px;
            height: 20px;
            margin: 10px;
        }
        
 }      
