@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
*/
:root{
    --corPrincipal:#5e057e;
    --corSecundaria:#c299d0;
    --light:#ffffff;
    --verde:#99e099;
    --footer:#c7c6c6;
    --mid:#64748B;
    --darck:#000000;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh; 
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: var(--corPrincipal);
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 1;
}
nav{
    width:80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 200px;
}
.dp-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dp-menu{
    width: 100%;
    border-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dp-menu ul li{
    margin-top: 5px;
    font-size: 15px;
    display: inline;
    position: relative;
    padding: 5px;
    color: var(--light);
   
}
.dp-menu ul li a{
    color: var(--light);
    text-decoration: none;
    display: inline-block;
    padding: 10px ;
}
.dp-menu ul li a:hover{
    color: var(--light);
    background-color:var(--footer);
}
/*Sub menu*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    background-color:var(--corPrincipal);
}
.dp-menu ul li:hover ul{
    display: block;
}
.dp-menu ul ul{
    width: 150px;
    
}
.dp-menu ul ul li a{
    display: block;
    margin: 0 10px;
    padding: 5px;
}

.dp-menu ul ul{
    width: 150px;
    
}
#login{
    border-radius: 5px;
    padding: 8px 12px;
    background-color: var(--corPrincipal);
    color: var(--light);
    cursor:pointer;
    margin: 20px;
    border: none;
  

}
#login a{
    text-decoration: none;
    padding: 20px;
    color: var(--light);
}
#login:hover{
    background-color: var(--light);
    transition: transform 0.5s ease; 
}
#login > a:hover{
    color: var(--corPrincipal);
}
/* Estilo para mensagens de erro */
.erro {
    border: 2px solid red;
}
#sair{
    color: var(--light);
    text-decoration:none; 
    display: none; 
    padding: 15px;
}

/* Main*/
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
.principal{
    margin-top: 0;
    margin: 0 30px;
    background-color: rgba(148, 131, 134, 0.144);
    margin-bottom: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}

section {
    height: 100%;
    min-height: 80vh;
    text-align: center;
    border-radius: 5px;
    background-color:var(--light);
    margin: 50px 30px; /* Isso define as margens superior e inferior como 200px e as margens esquerda e direita como 30px */
    border: 10px solid transparent; /* Adiciona uma borda transparente de 40px */
}
#div-h1{
    margin-top: 20px;
    width:100%;
    text-align: center;
    align-items: center;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 4em;
    color:var(--corSecundaria);
}
#img-principal{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.containe-text1 {
    display: flex;
    justify-content: space-between;
    margin:30px;
}

#texto1, #texto2{
    flex: 1; 
    margin: 10px;
    padding: 10px;
    text-align: left;
    text-indent: 1em;
}

.textos-principais{
    font-family: 'Poppins', sans-serif;
    color: var(--corPrincipal);
    font-weight:400;
    margin: 20px 0;
    text-indent: 1em;
}

.hidden-content {
    display: none;
}
.btn-saibaMais{
    color: var(--verde);
    border: 0;
    background-color: var(--light);
    border-radius: 5px;
    padding: 10px;
    
}
.btn-saibaMais:hover{
    color: var(--corPrincipal);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-top: 2px solid var(--corPrincipal);
}
#text2, #img-tratamentos {
    padding: 20px; 
   
}
#text2 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
h2{
    color:var(--corPrincipal);
    margin: 20px;
}
#text2-2 {
    color: var(--mid);
    text-align: left;
    margin-bottom: 20px;
}
p{
    color:var(--mid);
    text-indent: 1em;
}
#text2-2 h3{
    font-family: 'Poppins', sans-serif;
    color:var(--corSecundaria);
    font-weight:400;
    margin: 20px 0;
}
#img2, #img3, #img4, #img5, #img6{
    top: 0;
    width: 300px;
    height: 300px;
    margin-bottom: 0;
}
#container-btm{
    color: var(--mid);
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 43%;
}

html {
    scroll-behavior: smooth;
}

.cadastro-whatsapp{
    height:220px;
    background-color:var(--corPrincipal);
    text-align: left;
    margin: 50px 0;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.cadastro-whatsapp h4{
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    padding: 18px;
}

input{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 220px;
    
}
#cadastrar{
    width: 120px;
    color: var(--corPrincipal);
    border-radius: 5px;
    padding: 5px;
}
.erro{
    border: 2px solid red;
}
#cadastrar:hover{
    background-color:var(--corPrincipal);
    color: white;
    transform: scale(1.2);
}

 footer {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 12px;
    margin-bottom: 0;
   
 }
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--footer);
    padding: 50px;
    margin-bottom: 0;
    margin-top:0;
    height: 400px;
    flex-wrap: wrap;
    bottom: 0;
    font: normal;
}

.contato, .sobre, .servicos, .horario{
   margin: 0;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 10px;
   flex-basis: calc(25% - 20px); /* Define a largura das seções, descontando o espaço entre elas */
   box-sizing: border-box;
   color:var(--mid);
   font-size: 12px;
  

}
#span-text{
    color: var(--corSecundaria);
}
.titulofooter{
   margin: 20px;
   font-weight: 700;
}
p{
   margin-bottom: 0;
}
.re{
   width: 100%;
   margin-top: 40px;
   margin-bottom: 10px;
   display: flex;
   justify-content:center;
   flex-direction: column;
   text-align: center;
   align-items: center;
   color: var(--mid);
   background-color:var(--footer);
}

#hamburguer{
   position: absolute;
   display: none;
   color: var(--light);
   right: 50px;
   cursor: pointer;
}

 
@media (max-width: 900px) {
    .menu-ativo {
        display: block!important;
        background-color:var(--corPrincipal);
        color: var(--light);
        padding: 30px 0;
        top:100%;
        position: absolute;
        z-index: 99;
        width: 100%;
        box-sizing: border-box;
    }
    .menu-ativo ul:hover{
        color: var(--footer)
    }
    .menu-ativo ul ul{
        display: flex;
        width: 100%;
    }
    nav{
        justify-content: space-between;
       
    }
    #logo{
        margin: 0 10px;
        width: 150px;
    }
    #hamburguer {
        display: block;
    }
    .dp-menu{
        display: none;
    }
    .dp-menu li {
        display: block!important;
    }
    .dp-menu ul{
        right: 0;
        position: relative;
        top: 100%;
        background-color:var(--corPrincipal)
    }
   
    .dp-menu ul ul{
        display: none;
        z-index: 2;
    }
    .dp-menu ul ul li a{
        z-index: 2;
        margin: 5px 0;
    }
    
    
    #login {
        padding: 0;
        font-size: 16px;
        background-color: var(--light)!important;
        & > a{
            color: var(--corPrincipal);
        }
    }
    .menu-ativo #login {
        background-color: var(--light)!important; /* Restaure o fundo do botão de login no menu ativo */
        position: absolute;
        z-index: 1; /* Certifique-se de que o botão de login fique acima do menu ativo */
        top: -30%;
        right: 0; /* Ajuste este valor conforme necessário para controlar a distância entre o menu e o botão de login */
      }
    .menu-ativo #sair {
        position: absolute;
        z-index: 1;
        top: -30%;
        right: 10%; 
      }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
 
    }
   #img-principal{
    margin: 50px;
    width: 100%;
    height: 100%;
   }
   
   .principal{
       top: 100%;
      height: 100%;
      width: 100%!important;
   }
   section{
    min-height: 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    
}
   h1{
        font-size: 30px;
   }
   h2{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
   }
   .containe-text1{
        display: block;
        flex-direction: column;
   }
   .container{
        display: block;
        flex-direction: column;
   }
   input{
    width: 220px;
    }
    .cadastro-whatsapp{
        justify-content: center;
        align-items: center;
        height: 80%;
        padding: 40px;
        margin: 20px 0;
        }
        #cadastrar{
        padding: 5px;
        margin: 4px;
        font-size: 12px;
    }

    
    #img2, #img3, #img4, #img5, #img6{
        top: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }
    .footer{
        flex-direction: column;
         display: block;
        height: min-content;
        width: auto;

        }
    .re{
        width: auto;
    }
    }